@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app,
html,
body {
  height: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

img {
  border: none;
  vertical-align: middle;
}

input,
button {
  outline: none;
}

i {
  font-style: normal;
}

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}